<configuration debug="true">

    <!-- loosen the rule on appender refs so appenders can reference them -->
    <newRule pattern="*/appender/appender-ref"
             actionClass="ch.qos.logback.core.joran.action.AppenderRefAction"/>

    <turboFilter class="echopraxia.logback.ConditionTurboFilter"/>

    <appender name="LIST" class="ch.qos.logback.core.read.ListAppender">
    </appender>

    <appender name="STRINGLIST" class="echopraxia.logstash.EncodingListAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
            <providers>
                <timestamp/>
                <message/>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <mdc/>
                <logstashMarkers/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <appender name="LOGSTASHFIELD" class="echopraxia.logstash.LogstashFieldAppender">
        <appender-ref ref="STRINGLIST"/>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="LIST"/>
        <appender-ref ref="LOGSTASHFIELD"/>
    </root>
</configuration>