<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="echopraxia.log4j.layout,echopraxia.log4j.appender">

    <!-- always log a statement with a security marker. -->
    <MarkerFilter marker="SECURITY" onMatch="ACCEPT" onMismatch="NEUTRAL"/>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <JsonTemplateLayout eventTemplateUri="classpath:JsonLayout.json" locationInfoEnabled="true">
                <EventTemplateAdditionalField
                        key="marker"
                        format="JSON"
                        value='{"$resolver": "marker", "field": "name"}'/>
                <EventTemplateAdditionalField
                        key="fields"
                        format="JSON"
                        value='{"$resolver": "echopraxiaFields"}'/>
                <EventTemplateAdditionalField
                        key="arguments"
                        format="JSON"
                        value='{"$resolver": "echopraxiaArgumentFields"}'/>
                <EventTemplateAdditionalField
                        key="context"
                        format="JSON"
                        value='{"$resolver": "echopraxiaContextFields"}'/>
            </JsonTemplateLayout>
        </Console>
        <List name="ListAppender">
            <JsonTemplateLayout eventTemplateUri="classpath:JsonLayout.json" locationInfoEnabled="true">
                <EventTemplateAdditionalField
                        key="marker"
                        format="JSON"
                        value='{"$resolver": "marker", "field": "name"}'/>
                <EventTemplateAdditionalField
                        key="fields"
                        format="JSON"
                        value='{"$resolver": "echopraxiaFields"}'/>
                <EventTemplateAdditionalField
                        key="arguments"
                        format="JSON"
                        value='{"$resolver": "echopraxiaArgumentFields"}'/>
                <EventTemplateAdditionalField
                        key="context"
                        format="JSON"
                        value='{"$resolver": "echopraxiaContextFields"}'/>
            </JsonTemplateLayout>
        </List>
    </Appenders>
    <Loggers>
        <!--
          For async logging to include correct caller info, you need to set
          includeLocation="true" on the logger.
        -->
        <Root level="debug" includeLocation="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ListAppender"/>
        </Root>
    </Loggers>
</Configuration>
